
header, main{
    width: 375px;
    margin: 0 auto;
}

header{
    border: 1px solid #C6C6C6;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 127px;
}

.viewer, .user-icon{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user{
    display: flex;
    align-items: center;
}

.user-info p {
    margin: 0 5px;
}



.user-photo{
    width: 100%;
}

.interact-icons{
    display: flex;
    gap: 10px;
}

.interact{
    width: 22px;
}

.interact:hover{
    opacity: 30%;
    cursor: pointer;
}

.likes, .status, .interact-icons{
    margin: 10px 0 0 0;
}

.container{
    max-width: 343px;
    padding: 10px;
}